$background-blue: rgba(105, 169, 255, .6);
$background-yellow: rgba(255, 153, 94, .5);
$orange: #ff9f1c;
$apricot: #FFBF69;
$hover-orange: rgba(255, 153, 94, .9);
$plus-blue: blue;
$black: #26222D;
$red: red;
$white: white;
$beige: rgba(255, 255, 255, 0.90); 